.s5{
    background: #F7F7F7;
    padding: 15px;
}

.contact-wrapper h1{
    text-align: center;
    font-size: 5.5vh;
    font-weight: 500;
    padding: 10px;
    margin: 0;
}

.contact-wrapper h2{
    text-align: center;
    font-size: 4vh;
    font-weight: 400;
    padding: 10px;
    margin: 0;
}

.form-style-6{
	max-width: 1000px;
	margin: 10px auto;
    padding: 10px;
	background: #F7F7F7;
}

.form-style-6 h1{
	background: #43D1AF;
	padding: 20px 0;
	font-size: 140%;
	font-weight: 300;
	text-align: center;
	color: #fff;
	margin: -16px -16px 16px -16px;
}

.form-style-6 input[type="text"],
.form-style-6 input[type="date"],
.form-style-6 input[type="datetime"],
.form-style-6 input[type="email"],
.form-style-6 input[type="number"],
.form-style-6 input[type="search"],
.form-style-6 input[type="time"],
.form-style-6 input[type="url"],
.form-style-6 textarea,
.form-style-6 select {
	-webkit-transition: all 0.30s ease-in-out;
	-moz-transition: all 0.30s ease-in-out;
	-ms-transition: all 0.30s ease-in-out;
	-o-transition: all 0.30s ease-in-out;
	outline: none;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	width: 100%;
	background: #fff;
	margin-bottom: 4%;
	border: 1px solid #ccc;
	padding: 3%;
	color: #386C5F;
	font: 95% Arial, Helvetica, sans-serif;
}

.form-style-6 input[type="text"]:focus,
.form-style-6 input[type="date"]:focus,
.form-style-6 input[type="datetime"]:focus,
.form-style-6 input[type="email"]:focus,
.form-style-6 input[type="number"]:focus,
.form-style-6 input[type="search"]:focus,
.form-style-6 input[type="time"]:focus,
.form-style-6 input[type="url"]:focus,
.form-style-6 textarea:focus,
.form-style-6 select:focus{
	box-shadow: 0 0 5px #386C5F;
	padding: 3%;
	border: 1px solid #386C5F;
}

.form-style-6 input[type="submit"],
.form-style-6 input[type="button"]{
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	width: 100%;
	padding: 3%;
	background: #386C5F;
	border-bottom: 1px solid #386C5F;
	border-top-style: none;
	border-right-style: none;
	border-left-style: none;	
	color: #fff;
}

.form-style-6 input[type="submit"]:hover,
.form-style-6 input[type="button"]:hover{
	background: #BFAC36;
}


.s6{
    background: #F7F7F7;
    padding: 15px;
}
.button {
	margin: auto;
	background-color: #386C5F;
	border: none;
	border-radius: 25pc;
	color: white;
	padding: 25px 35px;
	text-align: center;
	text-decoration: none;
	font-size: 5.5vh;
	display: flex;
    justify-content: center;
    align-items: center;
	width: 20vmax;
    height: 10vmax;
  }

  .button:hover{
	background-color: #BFAC36;
  }